<hr>
<h1>Platzhalter Pfad</h1>
<hr>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">You weakly point towards the CD. The Lady's smile grows even wider, and she hands it to you. Her leathery skin brushes against your hand and struggle as not to immeadiatly recoil. You slowly pocket the CD. Apperently there is no need for payment.
      
    You turn out your heels and leave the alley as fast as you politely can, still feeling her gaze burn in your back. As the light and the noises of the crowd return, you feel almost relieved. A CD counts as party supply, right? You return home, trying not to think too much about what just happend.</p>
  </div>

<a class="btn btn-success btn-sm" role="button" th:href="@{/partycd}">...</a>

