<hr>
<h1>Platzhalter Pfad</h1>
<hr>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">You have to dodge some people and almost stumble over a box of junk on your way, but you make it to the alley. No one else seems to be here. You step further into the darkness (which shouldn't be possible at this time of day) and spot... another market stand? Behind it stands a short old lady, staring at you with a witch-like grin. Her eyes don't seem to belong to her, and you freeze unde her impossible gaze. She seems to sense your sudden nervousness. Wait, what are you even afraid of?

    "No need to be afraid right now. There will be plenty of time for that," she croaks. "Now, are you perhaps intrested in any of my wares?"

    You curse mentally curse yourself for not just enduring the crowd a bit longer. Then again, the lady was right, there wasn't anything to be afraid of. You finally manage to break eye-contact and take a look at what lies on the table in front of you. You spot:

    </p>
  </div>

<a class="btn btn-success btn-sm" role="button" th:href="@{/cd}">a CD simply titled: DO NOT PLAY.</a>
<a class="btn btn-success btn-sm" role="button" th:href="@{/fog machine}">COMING SOON</a>
<a class="btn btn-success btn-sm" role="button" th:href="@{/compass}">COMING SOON</a>

<div class="col-lg-6 mx-auto">
  <p class="lead mb-4">
    I... don't think you should risk leaving without buying something. What do you choose?
  </p>
</div>