<hr>
<h1>The Next Day...</h1>
<hr>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">It's the day of the party.

    </p>
    <p class="lead mb-4">You're sat in a corner, slumped together on the filthy sofa in your own appartment. As you gaze over the crowd of guests, a slight grin sneaks on your face. It seems like no one is having fun. They stand around akwardly with drinks in their hand, a few brave ones daring to set foot on the makeshift dancefloor. At the center of it all stands your roommate, with a frown on his face that quickly shifts into a fake-smile whenever he's at eyes with a guest. His disappointment is your reward.

    </p>
    <p class="lead mb-4">And... he's spotted you. His tortured grin grows even wider and he hurridly struts towards you. You know, your small victory is over.

    </p>
    <p class="lead mb-4">"Heyyyyy.... how are you holding up hm? Enjoying the party I hope!"
    A nod will have to sufice as an answer. "So..., you don't possibly maybe might perhaps have an idea on how to lift the spirits a little? Pleeeeeeeaaase?"
    God, what a dilemma. Either you'll have to put in even more effort to somehow save this mess of a party, or you'll spent this evening getting harrased by your roommate, in your own home. And he's not going to let this down easily...
      
    </p>

    <p class="lead mb-4">In search of a quick solution, you gaze upon the crowd again, trying to analyze the situation. 
    </p>
  </div>

<a class="btn btn-success btn-sm" role="button" th:href="@{/play}">Play</a>