<hr>
<h1>Platzhalter Pfad 1</h1>
<hr>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">On a busy friday afternoon, you find yourself strolling around your local flea market. Well, squeezing through is more accurate. People are everywhere. You hear their shouts, arguing about prices and praising their wares. Getting pushed around by the crowd, with all this commotion around, it almost makes you forget what you're here for- 
   </p>

    <p class="lead mb-4">
      Right... your stupid roommate sent you here, in hopes of finding "the icing on the cake for the party tomorrow". Eugh, why is it always you who has to run their errands?  </p>
  </div>

<a class="btn btn-success btn-sm" role="button" th:href="@{/alleyway}">...</a>